{% extends 'base.html' %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <form method="POST" action="{% url 'feed:add_post' %}">
            {% csrf_token %}
              <div class="form-group" >
                <textarea class="form-control" rows="5" id="post" name="text" placeholder="Write your post here...
                 "></textarea>
                 <!--
                 <input type="file" class="form-control-file" id="exampleFormControlFile1">
                 -->
                 <input type="file" class="form-control-file" name="postImage" id="exampleFormControlFile1" accept="image/*" multiple/>
                 <!--
                 <button onclick="myf()"><i class="material-icons">attachment</i></button>
                 <script>
                 $('#OpenImgUpload').click(function(){ $('#exampleFormControlFile1').trigger('click'); });
                 </script>
                -->
                 <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </form>


          <h3 class="my-4">Recent Posts
          </h3>
          {% for post in posts %}
          <!-- Blog Post -->
          <div class="card mb-4">
            {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <!--<h2 class="card-title">Post Title</h2>-->
              <p class="card-text">{{ post.text }}</p>
              <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.published_date }} by
              <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a>
            </div>
          </div>

          {% endfor %}


          <!-- Pagination -->
                <div class="text-center">
                {% if posts.has_other_pages %}
                  <ul class="pagination">
                    {% if posts.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                        <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                      <li class="page-item"><a class="page-link"href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <form method="POST" action="{% url 'feed:search_posts'%}">
            {% csrf_token %}
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" name="search_text" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit" id="readonly">Go!</button>
                </span>
              </div>
            </div>
          </div>
          </form>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Academics</h5>
            <div class="card-body">
    
              <div class="row">
                <div class="col-lg-12">
                  <div class="container">
                    {% for subobj in sublist %}
                    <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h6 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#{{ subobj.subjectid }}">{{ subobj.subjectid }}</a>
                        </h6>
                      </div>
                      <div id="{{ subobj.subjectid }}" class="panel-collapse collapse">
                        <div class="panel-body">
                        <p><a href="{{ subobj.assignments }}" target="_blank">Assignments</a></p>
                        
                        {% if subobj.cr %}
                        <div class="col-lg-12">
                          <div class="input-group">

                            <form method="POST" action="{% url 'feed:add_assign_link' %}">
                                {% csrf_token %}
                            <input type="text" name = "aslink" class="form-control" placeholder="Edit Link..">
                            <input type="hidden" name="hiddentext" id="myField" value="{{ subobj.subjectid }}" />
                            <span class="input-group-btn">
                                <input onclick="myfun()" type="submit" class="btn btn-primary" value="Submit">
                            </span>
                            </form>
                          </div>
                        </div>
                        {% endif %}
                      
                        <p><a href="{{ subobj.notes }}" target="_blank">Notes</a></p>
                        {% if subobj.cr %}
                        <div class="col-lg-12">
                          <div class="input-group">

                            <form method="POST" action="{% url 'feed:add_notes_link' %}">
                                {% csrf_token %}
                            <input type="text" name = "ntlink" class="form-control" placeholder="Edit Link.."/>
                            <input type="hidden" name="nthiddentext" id="ntmyField" value="{{ subobj.subjectid }}" />
                            <span class="input-group-btn">
                                <input onclick="myfun()" type="submit" class="btn btn-primary" value="Submit">
                            </span>
                            </form>
                          </div>
                        </div>
                        {% endif %}
                      

                        <p><a href="{{ subobj.prevpapers }}" target="_blank">Previous Papers</a></p>
                        {% if subobj.cr %}
                        <div class="col-lg-12">
                          <div class="input-group">

                            <form method="POST" action="{% url 'feed:add_prev_link' %}">
                                {% csrf_token %}
                            <input type="text" name = "prlink" class="form-control" placeholder="Edit Link..">
                            <input type="hidden" name="prhiddentext" id="prmyField" value="{{ subobj.subjectid }}" />
                            <span class="input-group-btn">
                                <input onclick="myfun()" type="submit" class="btn btn-primary" value="Submit">
                              </span>
                            </form>
                          </div>
                        </div>
                        {% endif %}
                      

                        </div>
                      </div>
                    </div>
                    </div>
                    {% endfor %}
                  </div>
  
                </div>
              </div>
            
            </div>
          </div>
          <!-- Side Widget -->
          <div class="card my-5">
            <div class="card-header">
              <div class="form-row">
              <div class="col-md-4">
            <h5>Timetable:</h5>
                </div>
             <div class="col-md-8">
                <form method="POST">
                    {% csrf_token %}
                <input name="ttdate" id="date" type="date">
                </form>
             </div>
              </div>  
          </div>
            <div class="card-body">
            {% for subobj in sublist %}
            {% if subobj.cr %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h6 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#{{ subobj.id }}">{{ subobj.subjectid }}</a>
                    </h6>
                  </div>
                  <div id="{{ subobj.id }}" class="panel-collapse collapse">
                  <div class="panel-body">
                <form method="POST" action="{% url 'feed:add_time_table' %}">
                  {% csrf_token %}
                  <input type="hidden" name="tthiddentext" value="{{ subobj.subjectid }}" />
                  <input type="date" style="display:none" name="hiddendate" id="hdate" />
                 <div class="form-row">
                 <div class="form-group col-md-6">
                  <div class="input-group">
                  <select class="custom-select" name="cl" id="inputGroupSelect04">
                        <option selected value="slot">slot</option>
                        <option value="Class">Class</option>
                        <option value="Lab">Lab</option>
                  </select> 
                  </div> 
                 </div>

                <div class="form-group col-md-6">
                <div class="input-group">  
                <select class="custom-select"name="exam" id="inputGroupSelect04">
                    <option selected value="Noexam">Noexam</option>
                    <option value="Minor">Minor</option>
                    <option value="Mid">Mid</option>
                    <option value="End">End</option>
                  </select>
                </div>
                </div>
              </div>
                
              <input type="text" name ="Other" class="form-control" placeholder="Other..">
              <div class="row">
                  <div class="form-group col-md-6">
                    <label>Start Time</label>
                    <input type="time" name="starttime" class="form-control" />
                  </div>
                  <div class="form-group col-md-6">
                      <label>End Time</label>
                      <input type="time" name="endtime" class="form-control" />
                  </div>
              </div>
              <div class="form-group col-md-6">
                  <input onclick="submitdate()" type="submit" class="btn btn-primary" value="Submit">
                  <script>
                  function submitdate(){
                   var x=document.getElementById('date').value;
                   var y=document.getElementById('hdate');
                   y.value=x;
                   alert(y.value);
                  }
                  </script>
                </div>
              </form>
              </div>
              </div>
            </div> 
          </div>
          {% endif %}
          {% endfor %}
          <div class="col-lg-12">
              <div class="input-group">
          <form method="POST" action="{% url 'feed:show_timetable' %}">
              {% csrf_token %}
              <div class="col-lg-8">
              <input type="date" name="userdate" id="udate" />
              </div>
              <div class="col-lg-4">
                  <input type="submit" class="btn btn-primary" value="Show">
              </div>
          </form>
              </div>
              </div>    
          
          <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Time</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                  {% for t in ttable %}
                <tr>
                  <td>{{ t.startTime }}</td>
                  <td>{{ t.subjectid }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}