{% extends 'base.html' %}


{% block content %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <br>
          <br>
          <br>
          <form method="POST" action="{% url 'feed:add_post' %}">
            {% csrf_token %}
              <div class="form-group" >
                <textarea class="form-control" rows="5" id="post" name="text" placeholder="Write your post here...
                 "></textarea>
                 <!--
                 <input type="file" class="form-control-file" id="exampleFormControlFile1">
                 -->
                 <input type="file" class="form-control-file" name="postImage" id="exampleFormControlFile1" accept="image/*" multiple/>
                 <!--
                 <button onclick="myf()"><i class="material-icons">attachment</i></button>
                 <script>
                 $('#OpenImgUpload').click(function(){ $('#exampleFormControlFile1').trigger('click'); });
                 </script>
                -->
                 <input type="submit" class="btn btn-primary" value="Submit">
              </div>
            </form>


          <h3 class="my-4">Recent Posts
          </h3>
          {% for post in posts %}
          <!-- Blog Post -->
          <div class="card mb-4">
            {% if post.image %}
            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <!--<h2 class="card-title">Post Title</h2>-->
              <p class="card-text">{{ post.text }}</p>
              <!--<a href="#" class="btn btn-primary">Read More &rarr;</a>-->
            </div>
            <div class="card-footer text-muted">
              Posted on {{ post.published_date }} by
              <a href="#">{{ post.user.first_name }} {{ post.user.last_name }}</a>
            </div>
          </div>

          {% endfor %}


          <!-- Pagination -->
                <div class="text-center">
                {% if posts.has_other_pages %}
                  <ul class="pagination">
                    {% if posts.has_previous %}
                      <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                    {% else %}
                      <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                      {% if posts.number == i %}
                        <li class="active page-item"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                      {% else %}
                        <li><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                      <li class="page-item"><a class="page-link"href="?page={{ posts.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                  </ul>
                {% endif %}
                </div>
        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          <!-- Search Widget -->
          <form method="POST" action="{% url 'feed:search_posts'%}">
            {% csrf_token %}
          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" name="search_text" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="submit" id="readonly">Go!</button>
                </span>
              </div>
            </div>
          </div>
          </form>

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Academics</h5>
            <div class="card-body">
            
            </div>
          </div>
          <!-- Side Widget -->
          <div class="card my-5">
            <div class="card-header">
            <h5>Timetable:</h5> 
          </div>
            <div class="card-body">
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}